@font-face {
  font-family: "iconfont"; /* Project id 2493047 */
  src: url('iconfont.woff2?t=1622010444464') format('woff2'),
       url('iconfont.woff?t=1622010444464') format('woff'),
       url('iconfont.ttf?t=1622010444464') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinggao:before {
  content: "\e810";
}

.icon-erweima:before {
  content: "\e690";
}

.icon-icon-:before {
  content: "\e6e6";
}

.icon-annex:before {
  content: "\ea36";
}

.icon-icon-test:before {
  content: "\e640";
}

.icon-biyan:before {
  content: "\e61c";
}

.icon-fork:before {
  content: "\e61b";
}

.icon-dianhua:before {
  content: "\e615";
}

.icon-camera:before {
  content: "\e60f";
}

.icon-phone_icon:before {
  content: "\e65f";
}

.icon-duanxin:before {
  content: "\e60c";
}

.icon-duanxin1:before {
  content: "\e61a";
}

.icon-Success-Small:before {
  content: "\e60b";
}

.icon-dianji:before {
  content: "\e600";
}

.icon-home:before {
  content: "\e665";
}

.icon-arrow-right:before {
  content: "\e601";
}

.icon-arrow-left:before {
  content: "\e602";
}

.icon-gouwuche:before {
  content: "\e603";
}

.icon-arrow-up:before {
  content: "\e604";
}

.icon-home1:before {
  content: "\e605";
}

.icon-xia:before {
  content: "\e606";
}

.icon-dingwei:before {
  content: "\e607";
}

.icon-bianji:before {
  content: "\e608";
}

.icon-refresh:before {
  content: "\e609";
}

.icon-shizhong:before {
  content: "\e60a";
}

