/* 
    公共样式
*/
html,body {
    margin:0px;
    padding:0px;
    background-color: yellow;
}
/* bootstrap 的 row 占据整行 */
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
a{
    text-decoration: none;
}