/**
    全局CSS样式
*/
// a标签鼠标移入时字体颜色
@a-hover-color-01:#f30213 !important;
// 未点击的a标签字体颜色
@a-link-color-01:#999 !important;

// 登录页的固定宽度
@login-main-width:990px;

// 固定宽度
@regist-main-width:1210px;
// 主要内容宽度
@regist-inner-main-width:400px;
// 高度
@regist-main-height:600px;
